@import 'styles/form-grid.scss';

html,
body {
    height: 100%;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background: linear-gradient(135deg, #efe9e9 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #dde6ef 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: rgba(112, 128, 144, 0.1);
    background-size: 64px 128px;
}

.page-center {
    width: 100% ;
    position: absolute;
    top:30%;
    left:50%;
    transform: translateX(-50%) translateY(-30%);
}


.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

label {
    font-size: 1.5em;
    opacity: 0.8;
}


.btn {
    text-transform: uppercase;
    color: #fff;
    background: #3aca8a;
    height: 40px;
    display: inline-block;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0 3rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 16px;
}

.btn[disabled] {
    background: #ccc;
}

input[type=text],input[type=password],input[type=email] {
    padding: 10px;
    font-size: 16px;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus {
    outline: none;
}

.error-message {
    color: orangered;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.error-message.show {
    opacity: 1;
}

.hidden {
    display: none;
}